@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500&display=swap");

@font-face {
  font-family: "ClashDisplay-Regular";
  src: url("./assets/fonts/ClashDisplay-Regular.woff") format("woff");
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Medium";
  src: url("./assets/fonts/ClashDisplay-Medium.woff") format("woff");
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Semibold";
  src: url("./assets/fonts/ClashDisplay-Semibold.woff") format("woff");
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Bold";
  src: url("./assets/fonts/ClashDisplay-Bold.woff") format("woff");
  font-display: swap;
  font-style: normal;
}

:root {
  --Background-Color: #141414;
  --Yellow: #f6cd58;
  --White: #f5f1f1;
  --Gray: #5c6b78;
  --Transition: all 0.3s cubic-bezier(0.29, 0.1, 0.34, 0.99);
  --Transition-Two: all 0.2s cubic-bezier(0.29, 0.1, 0.34, 0.99);
  --Transition-Three: all 0.4s cubic-bezier(0.29, 0.1, 0.34, 0.99);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Background-Color);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

.nav-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 70px;
  max-width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--Background-Color);
  z-index: 100;
}

.nav-logo {
  max-width: 3rem;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav-logo:hover {
  transform: rotate(180deg);
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-grow: 1;
}

.nav-links-text {
  color: var(--White);
  font-family: IBM Plex Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  padding: 0 1rem;
  transition: all 400ms ease-in-out;
}

.nav-links-text:hover {
  color: var(--Yellow);
}

.nav-socials {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-social-icon {
  margin: 0 0.5rem; /* Add margin between social icons */
}

.nav-mobile {
  display: none;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -8px;
  left: 0;
  background-color: var(--Yellow);
  transform-origin: bottom right;
  transition: var(--Transition);
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-social-icon {
  width: 1.8rem;
  margin-left: 0.8rem;
  cursor: pointer;
  transition: var(--Transition-Two);
}

.nav-social-icon:hover {
  transform: scale(1.2);
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 72px;
  cursor: default;
  z-index: 4;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.header-title {
  font-family: "ClashDisplay-Bold";
  font-style: normal;
  color: var(--White);
  font-size: 14rem;
  line-height: 80%;
  margin: 18px 0;
}

.header-text {
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--White);
  font-size: 21.3px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.header-line-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  padding: 0 50px;
}

.header-line-bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  padding: 0 50px;
}

.showroom-container {
  padding: 2rem 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 72px;
}

.iframe-showroom {
  min-width: 90vw;
  min-height: 50vw;
  border: none;
}

.title-container-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 70px;
  width: fit-content;
  margin-top: 144px;
  margin-bottom: 48px;
}

.title-container-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 70px;
  width: fit-content;
  float: right;
  margin-top: 144px;
  margin-bottom: 48px;
}

.title-text-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: auto;
}

.title-text {
  font-family: "ClashDisplay-Regular";
  font-style: normal;
  color: var(--White);
  font-size: 67px;
  line-height: 100%;
  text-transform: uppercase;
  z-index: 10;
  margin-left: 4rem;
  margin-top: 0.5rem;
  cursor: default;
}

.title-dots {
  z-index: 0;
  position: absolute;
}

.title-line {
  padding-left: 2rem;
}

.title-dash {
  padding-top: 0.4rem;
  align-self: flex-end;
}

.service-container {
  display: flex;
  width: 530px;
  height: 416px;
  padding: 32px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--Transparent-Yello, rgba(246, 205, 88, 0.4));
  background: var(--Background-Color, #141414);
  transition: var(--Transition-Two);
}

.service-container:hover {
  transform: scale(0.97);
}

.service-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
  cursor: default;
}

.service-header {
  color: var(--White);
  font-family: "ClashDisplay-Medium";
  font-size: 37.9px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  cursor: default;
}

.service-descript {
  color: var(--Text---Gray, #5c6b78);
  font-family: IBM Plex Sans;
  font-size: 21.3px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: default;
}

.service-cards-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 2rem 70px;
}

.studio-cards-group {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 2rem 70px;
}

.studio-client-card-container {
  display: flex;
  width: 1080px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.studio-client-card {
  display: flex;
  width: 200px;
  height: 200px;
  padding: 10px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--Transparent-Yello, rgba(246, 205, 88, 0.4));
  background: var(--Background-Color, #141414);
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.studio-client-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--Yellow);
  transform: translateY(100%);
  transition: var(--Transition-Three);
}

.studio-client-card:hover .studio-client-info {
  bottom: 0;
  transform: translateY(0);
  transition: var(--Transition-Three);
}

.studio-client-name {
  color: var(--Background-Color);
  text-transform: uppercase;
  text-align: center;
  font-family: "ClashDisplay-Medium";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.studio-client-link {
  display: block;
}

.team-card-container {
  display: flex;
  height: 414px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  cursor: pointer;
  transition: var(--Transition);
}

.team-card-container:hover {
  transform: translate(0, -20px);
}

.team-card-social {
  transition: var(--Transition);
}

.team-card-social:hover {
  transform: scale(1.2);
}

.team-card-img {
  border-radius: 4px;
  width: 300px;
}

.team-card-info-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
  padding: 24px 12px 12px 12px;
}

.team-card-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.team-card-title {
  color: var(--Gray);
  font-family: IBM Plex Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.team-card-name {
  font-family: "ClashDisplay-Regular";
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 90%;
  color: var(--White);
  text-transform: uppercase;
}

.team-group-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-card-group-container {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 62px;
  padding: 2rem 70px;
}

.team-group-title {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 36px;
  margin-top: 36px;
}

.team-group-title h1 {
  font-family: "ClashDisplay-Regular";
  font-size: 50.5px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--White);
  text-transform: uppercase;
}

.team-group-title-line-mobile {
  display: none;
}

.dots-bg {
  z-index: 3;
  top: 0;
  position: absolute;
  padding-top: 160px;
}
.gradient-one {
  z-index: 1;
  position: absolute;
  top: 0;
  margin-top: 1000px;
  max-width: 100%;
}

.gradient-two {
  z-index: -2;
  position: absolute;
  top: 0;
  padding-top: 1601px;
  transform: scaleX(-1);
  right: 0;
}

.gradient-three {
  z-index: -2;
  position: absolute;
  top: 0;
  padding-top: 2929px;
  max-width: 100%;
}

.gradient-four {
  z-index: -2;
  position: absolute;
  top: 0;
  padding-top: 4053px;
  transform: scaleX(-1);
  right: 0;
}

.gradient-five {
  z-index: -2;
  position: absolute;
  top: 0;
  padding-top: 5400px;
}

.gradient-six {
  display: none;
}

.gradient-seven {
  display: none;
}

.graphic-one {
  z-index: -3;
  position: absolute;
  top: 0;
  right: 68px;
  padding-top: 1400px;
  max-width: 100%;
}

.graphic-two {
  z-index: -3;
  position: absolute;
  top: 0;
  left: 68px;
  padding-top: 2948px;
  max-width: 100%;
}

.typeform-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 144px;
}

.typeform {
  max-width: 1440px;
  width: 100%;
  height: 900px;
  align-self: center;
  border: none;
}

footer {
  display: flex;
  height: 199px;
  padding: 0px 70px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-top: 1px solid var(--Transparent-Yello, rgba(246, 205, 88, 0.4));
}

.footer-copy {
  color: var(--Text---Off-White, #f5f1f1);
  font-family: "ClashDisplay-Regular";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.footer-socials-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  flex-shrink: 0;
}

.footer-socials {
  width: 50px;
  padding-left: 14px;
  transition: var(--Transition-Two);
}

.footer-socials:hover {
  transform: scale(1.2);
}

@media (min-width: 360px) and (max-width: 836px) {
  body {
    overflow-x: hidden;
  }

  .showroom-container {
    padding: 0;
    max-width: 100%;
  }

  .nav-desktop {
    display: none;
  }

  .nav-mobile {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 100%;
    padding: 24px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--Background-Color);
  }

  .nav-logo-mobile {
    max-width: 2rem;
  }

  .nav-header-mobile {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .nav-content-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    transition: var(--Transition);
  }

  .nav-links-text-mobile {
    color: var(--White);
    font-family: IBM Plex Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    padding: 12px 0;
    cursor: pointer;
  }

  .nav-links-text-mobile:hover {
    color: var(--Yellow);
  }

  .header-title {
    font-size: 5rem;
    padding: 0 1rem;
    font-family: "ClashDisplay-Semibold";
    line-height: 90%;
  }

  .header-text {
    font-size: 1rem;
    padding: 0 1rem;
    font-weight: 100;
    line-height: normal;
  }

  .header-line-top,
  .header-line-bottom {
    padding: 0 1rem;
  }

  .title-container-left,
  .title-container-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center horizontally */
    padding: 2rem 20px;
    float: none;
    margin: 0;
  }

  .title-text {
    margin-left: 0; /* Center text horizontally */
    text-align: center;
    font-size: 2.5rem;
  }

  .title-line {
    max-width: 90%;
  }

  .title-dots {
    opacity: 0.5;
    left: 0;
    margin-left: 20px;
  }

  .service-container,
  .studio-client-card {
    max-width: 90vw;
  }

  .studio-client-logo {
    max-width: 100%;
    height: auto;
  }

  .team-card-group-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .team-group-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 36px;
    margin-top: 36px;
  }

  .team-group-title h1 {
    font-size: 32px;
    text-align: center;
  }

  .team-group-title-line {
    display: none;
  }

  .team-group-title-line-mobile {
    display: block;
  }

  .typeform-container {
    margin-top: 72px;
  }

  .typeform {
    max-width: 90%;
  }

  .footer-copy {
    font-size: 18px;
  }

  .footer-socials {
    max-width: 36px;
  }

  .dots-bg {
    max-width: 60%;
  }

  .gradient-two {
    padding-top: 2601px;
    max-width: 100%;
  }

  .gradient-three {
    padding-top: 3929px;
    max-width: 100%;
  }

  .gradient-four {
    padding-top: 5500px;
    max-width: 100%;
  }

  .gradient-five {
    padding-top: 6400px;
    max-width: 100%;
  }

  .gradient-six {
    z-index: -2;
    position: absolute;
    top: 0;
    padding-top: 8053px;
    transform: scaleX(-1);
    right: 0;
    max-width: 100%;
  }

  .gradient-seven {
    z-index: -2;
    position: absolute;
    top: 0;
    padding-top: 9000px;
    max-width: 100%;
  }

  .graphic-two,
  .graphic-one {
    display: none;
  }
}

@media (min-width: 836px) and (max-width: 1400px) {
  body {
    overflow-x: hidden;
  }

  .showroom-container {
    padding: 0;
    max-width: 100%;
  }

  .header-title {
    font-size: 12rem;
    padding: 0 2rem;
    font-family: "ClashDisplay-Semibold";
    line-height: 90%;
  }

  .header-text {
    font-size: 2rem;
    padding: 0 2rem;
    font-weight: 100;
    line-height: normal;
  }

  .header-line-top,
  .header-line-bottom {
    padding: 0 1rem;
  }

  .title-container-left,
  .title-container-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center horizontally */
    padding: 2rem 20px;
    float: none;
    margin: 0 auto;
  }

  .title-text {
    margin-left: 0; /* Center text horizontally */
    text-align: center;
    font-size: 4rem;
  }

  .title-line {
    max-width: 90%;
  }

  .title-dots {
    opacity: 0.5;
    left: 0;
    margin-left: 20px;
  }

  .service-container,
  .studio-client-card {
    max-width: 90vw;
  }

  .studio-client-logo {
    max-width: 100%;
    height: auto;
  }

  .team-card-group-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .team-group-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 36px;
    margin-top: 36px;
  }

  .team-group-title h1 {
    font-size: 56px;
    text-align: center;
  }

  .team-group-title-line {
    display: none;
  }

  .team-group-title-line-mobile {
    display: block;
  }
  .typeform-container {
    margin-top: 72px;
  }

  .typeform {
    max-width: 90%;
  }

  .footer-copy {
    font-size: 18px;
  }

  .footer-socials {
    max-width: 36px;
  }

  .dots-bg {
    max-width: 60%;
  }

  .gradient-two {
    max-width: 100%;
  }

  .gradient-three {
    max-width: 100%;
  }

  .gradient-four {
    max-width: 100%;
  }

  .gradient-five {
    max-width: 100%;
  }

  .graphic-two,
  .graphic-one {
    display: none;
  }
}
